/* common-content */
.highlight {
  color: #21b573;
}
.first-section-bg {
  background-color: #f0fff0;
}
.clr-gray {
  color: #585859;
}
/* navbar-content-start */
.navbar {
  margin-top: 30px;
}
.nav-logo img {
  width: 100%;
}
.nav-item {
  font-size: 20px;
  padding: 0 15px;
}
.sign-in-item {
  height: 0px;
  width: 130px;
}
.sign-in {
  background-color: #21b573;
  border-radius: 50px;
  color: white;
}
/* navbar-content-end */
/* first-section-content-start */
.first-section {
  margin-top: 60px;
}
.first-section-para {
  color: red;
  font-size: 25px;
}
.first-section-heading {
  font-size: 65px;
  font-weight: bold;
}
.first-section-para-2 {
  padding-top: 20px;
  font-size: 20px;
  padding-bottom: 30px;
}
.first-section-buton {
  box-sizing: border-box;
  padding: 12px 25px;
  background-color: #21b573;
  border-radius: 50px;
  font-size: 20px;
  color: white;
  border: none;
}
.first-section-image {
  height: 600px;
  width: 800px;
}
.first-section-image img {
  width: 100%;
}
/* first-section-content-end */
/* second-section-content-start */
.second-section {
  margin-top: 75px;
  margin-bottom: 75px;
}
.second-section-columns {
  height: 300px;
  width: 300px;
  border-radius: 10px;
}
.second-section-images {
  height: 85px;
  width: 80px;
  margin-top: 50px;
}
.second-section-images img {
  width: 100%;
}
.second-section-content {
  margin-top: 35px;
}
/* second-section-content-end */
/* third-section-content-start */
.third-section {
  margin-bottom: 75px;
}
.third-section-title {
  font-weight: bold;
  margin-bottom: 50px;
}
.card {
  border: none;
}
.third-section-image {
  margin: 20px;
}
.third-section-image img {
  width: 100%;
  height: 250px;
}
.third-section-btn {
  margin-top: 10px;
  margin-left: 15px;
}
.third-section-buton {
  box-sizing: border-box;
  padding: 6px 20px;
  background-color: #21b573;
  border-radius: 50px;
  font-size: 20px;
  color: white;
  border: none;
}
.third-section-footer {
  margin-top: 40px;
}
.third-section-cal-image {
  height: 30px;
  width: 30px;
}
.third-section-cal-image img {
  width: 100%;
}
.date {
  font-size: 20px;
  font-weight: bold;
  margin-left: 5px;
}
.date-seats {
  margin-left: 15px;
}
.date-seats-2 {
  margin-left: 30px;
}
/* third-section-content-ebd */
/* fourth-section-content-start */
.fourth-section {
  margin-bottom: 75px;
}
.fourth-section-title {
  font-weight: bold;
  padding-bottom: 35px;
}
.fourth-section-image {
  height: 175px;
  width: 175px;
}
.fourth-section-image img {
  width: 100%;
}
.fourth-section-text {
  font-size: 20px;
  margin-left: 10px;
  font-weight: 400;
}
/* fourth-section-content-end */
