/* common-content */
.highlight {
  color: #21b573;
}
/* navbar-content-start */
.navbar {
  margin-top: 15px;
}
.nav-logo img {
  width: 100%;
}
.nav-item {
  font-size: 20px;
  padding: 0 15px;
}
.sign-in-item {
  height: 0px;
  width: 130px;
}
.sign-in {
  background-color: #21b573;
  border-radius: 50px;
  color: white;
}
/* navbar-content-end */
/* first-section-content-start */
/* first-section-content-end */
