/* common-content */
.highlight {
  color: #21b573;
}
.first-section-bg {
  background-color: #f0fff0;
}
/* navbar-content-start */
.navbar {
  margin-top: 30px;
}
.nav-logo img {
  width: 100%;
}
.nav-item {
  font-size: 20px;
  padding: 0 15px;
}
.sign-in-item {
  height: 0px;
  width: 130px;
}
.sign-in {
  background-color: #21b573;
  border-radius: 50px;
  color: white;
}
/* navbar-content-end */
/* first-section-content-start */
.first-section {
  margin-top: 60px;
}
.first-section-para {
  color: red;
  font-size: 25px;
}
.first-section-heading {
  font-size: 65px;
  font-weight: bold;
}
.first-section-para-2 {
  padding-top: 20px;
  font-size: 20px;
  padding-bottom: 30px;
}
.first-section-buton {
  box-sizing: border-box;
  padding: 12px 25px;
  background-color: #21b573;
  border-radius: 50px;
  font-size: 20px;
  color: white;
  border: none;
}
.first-section-image {
  height: 600px;
  width: 800px;
}
.first-section-image img {
  width: 100%;
}
/* first-section-content-end */
